.app-transactions-user {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D0D0D0;
   &__name {
     font-size: 24px;
     line-height: 32px;
     margin-bottom: 24px;
   }
   &__amount {
     margin-bottom: 24px;
     font-size: 40px;
     line-height: 56px;
   }
}
